<section class='container px-4 mx-auto'>
  <% breadcrumbs = [
       { title: t('views.admin.fixtures'), path: admin_fixtures_path }
     ] %>
  <%= render partial: 'shared/admin/breadcrumbs', locals: { breadcrumbs: } %>

  <div class='mt-6'>
    <%= render 'fixtures' %>

    <%= render partial: 'shared/admin/tables/pagination', locals: { items: @fixtures } %>
  </div>
</section>
