<section class='container px-4 mx-auto'>
  <% breadcrumbs = [
       { title: t('views.admin.accounts'), path: admin_accounts_path }
     ] %>
  <%= render partial: 'shared/admin/breadcrumbs', locals: { breadcrumbs: } %>

  <div class='mt-6'>
    <%= render 'accounts' %>

    <%= render partial: 'shared/admin/tables/pagination', locals: { items: @accounts } %>
  </div>
</section>
