<div class='flex items-center justify-between mt-6'>
  <%= link_to url_for(page: 1), class: 'flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100' do %>
    <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-5 h-5 rtl:-scale-x-100'>
      <path stroke-linecap='round' stroke-linejoin='round' d='M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18' />
    </svg>

    <span>
      First
    </span>
  <% end %>

  <div class='items-center hidden md:flex gap-x-3'>
    <% (items.current_page - 2..items.current_page + 2).each do |page| %>
      <% if page == items.current_page %>
        <%= link_to page, url_for(page:), class: 'px-2 py-1 text-sm text-blue-500 rounded-md hover:bg-gray-100 bg-blue-100/60' %>
      <% elsif page > 0 && page <= items.total_pages %>
        <%= link_to page, url_for(page:), class: 'px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-100' %>
      <% end %>
    <% end %>
  </div>

  <%= link_to url_for(page: items.total_pages), class: 'flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100' do %>
    <span>
      Last
    </span>

    <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-5 h-5 rtl:-scale-x-100'>
      <path stroke-linecap='round' stroke-linejoin='round' d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3' />
    </svg>
  <% end %>
</div>
