<section class='container px-4 mx-auto'>
  <% breadcrumbs = [
       { title: t('views.admin.orders'), path: admin_orders_path }
     ] %>
  <%= render partial: 'shared/admin/breadcrumbs', locals: { breadcrumbs: } %>

  <div class='mt-6'>
    <%= render 'orders' %>

    <%= render partial: 'shared/admin/tables/pagination', locals: { items: @orders } %>
  </div>
</section>
