<div id='flash-container' class='<%= class_names(hidden: message.nil?) %> fixed w-full mx-auto inset-x-0 flex items-center top-12 max-w-md bg-red-100 border border-red-200 text-sm text-red-800 rounded-lg hide-me' role='alert'>
  <div id='flash-message' class='flex p-4'>
    <%= message %>
  </div>
</div>
