<%= render partial: 'shared/application/sidebar' %>

<div class='w-full'>
  <%= render partial: 'shared/application/header' %>

  <% if @pools.size > 1 %>
  <% elsif @pools.size == 1 %>
  <% end %>
</div>
