<%= render partial: 'shared/site/header' %>

<main class='grow'>
  <section class='relative'>
    <div class='max-w-6xl mx-auto px-4 sm:px-6'>
      <div class='py-8 md:py-16'>
        <div class='mt-16'>
          <h1 class='text-2xl font-bold'>Política de Privacidad</h1>
          <p>tl;dr opera el sitio web picks.games, que proporciona el SERVICIO.</p>

          <p class='mt-6'>
            Esta página se utiliza para informar a los visitantes del sitio web sobre nuestras políticas con la recopilación, uso y divulgación de Información personal si alguien decide utilizar nuestro Servicio, el sitio web picks.games.
            Si elige utilizar nuestro Servicio, acepta la recopilación y el uso de información en relación con esta política. La Información personal que recopilamos se utiliza para proporcionar y mejorar el Servicio. No usaremos ni compartiremos su información con nadie excepto como se describe en esta Política de Privacidad.
          </p>

          <h2 class='mt-6 mb-2 text-lg font-bold'>Datos guardados</h2>

          <p>Queremos informarle que cada vez que visita nuestro Servicio, recopilamos información que su navegador nos envía y que se denomina Datos de registro. Estos datos de registro pueden incluir información como la dirección de Protocolo de Internet ("IP") de su computadora, la versión del navegador, las páginas de nuestro Servicio que visita, la hora y fecha de su visita, el tiempo dedicado a esas páginas y otras estadísticas.</p>

          <h2 class='mt-6 mb-2 text-lg font-bold'>Links a Otros Sitios</h2>

          <p>Nuestro Servicio puede contener enlaces a otros sitios. Si hace clic en un enlace de un tercero, será dirigido a ese sitio. Tenga en cuenta que estos sitios externos no son operados por nosotros. Por lo tanto, le recomendamos encarecidamente que revise la Política de Privacidad de estos sitios web. No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.</p>

          <h2 class='mt-6 mb-2 text-lg font-bold'>Cambios a esta Política de Privacidad</h2>

          <p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Por lo tanto, le recomendamos que revise esta página periódicamente para detectar cualquier cambio. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página. Estos cambios entran en vigor inmediatamente después de su publicación en esta página.</p>

          <h2 class='mt-6 mb-2 text-lg font-bold'>Contáctanos</h2>

          <p>Si tienes alguna pregunta o sugerencia sobre nuestra Política de Privacidad, no dudes en contactarnos en <b>juan@tldr.mx</b>.</p>
        </div>
      </div>
    </div>
  </section>
</main>

<%= render partial: 'shared/site/footer' %>
