<header class='absolute w-full z-30'>
  <div class='max-w-6xl mx-auto px-4 sm:px-6'>
    <div class='flex items-center justify-between h-16 md:h-20'>
      <div class='shrink-0 mr-4'>
        <%= link_to root_path, class: 'block group', 'aria-label': 'Home' do %>
          <%= render partial: 'shared/svg/logo' %>
        <% end %>
      </div>
      <nav class='flex grow'>
        <ul class='flex grow justify-end flex-wrap items-center'>
          <li>
            <%= link_to login_path, class: 'btn-sm text-white bg-blue-500 hover:bg-blue-600 group shadow-sm', 'aria-label': 'login' do %>
              Entrar <span class='tracking-normal text-blue-2300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1'>-&gt;</span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
