<aside class='w-72 h-full'>
  <div class='py-5 px-5 flex flex-col'>
    <div class='brand-logo flex items-center ml-5'>
      <%= link_to home_path do %>
        <%= render partial: 'shared/svg/logo' %>
      <% end %>
    </div>
    <div class='mt-10'>
      <ul>
        <li class='mb-2'>
          <%= link_to 'Inicio', home_path, class: ['inline-block rounded-md px-5 py-2 w-full text-sm font-medium text-gray-900 hover:text-indigo-700 hover:bg-gray-100', ('text-indigo-700 bg-gray-100' if request.path == home_path)] %>
        </li>
      </ul>
    </div>
  </div>
</aside>
