<section class='container px-4 mx-auto'>
  <% breadcrumbs = [
       { title: t('views.admin.bets'), path: admin_bets_path }
     ] %>
  <%= render partial: 'shared/admin/breadcrumbs', locals: { breadcrumbs: } %>

  <div class='mt-6'>
    <%= render 'bets' %>

    <%= render partial: 'shared/admin/tables/pagination', locals: { items: @bets } %>
  </div>
</section>
