<section class='container px-4 mx-auto'>
  <% breadcrumbs = [
       { title: t('views.admin.users'), path: admin_users_path },
       { title: @user.email, path: admin_user_path(@user.email) }
     ] %>
  <%= render partial: 'shared/admin/breadcrumbs', locals: { breadcrumbs: } %>

  <div class='mt-6'>
    <%= render 'user' %>
  </div>
</section>
