<div class='flex flex-col mt-6'>
  <div class='-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8'>
    <div class='inline-block min-w-full py-2 align-middle md:px-6 lg:px-8'>
      <div class='overflow-hidden border border-gray-200 md:rounded-lg'>
        <table class='min-w-full divide-y divide-gray-200'>
          <thead class='bg-gray-50'>
            <tr>
              <th scope='col' class='py-3.5 px-4 text-sm font-normal rtl:text-right text-gray-500'>
                ID
              </th>
              <th scope='col' class='py-3.5 px-4 text-sm font-normal rtl:text-right text-gray-500'>
                Account Number
              </th>
            </tr>
          </thead>
          <tbody class='bg-white divide-y divide-gray-200'>
            <% bank_accounts.each do |bank_account| %>
              <tr>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-center'>
                  <div>
                    <p class='text-gray-500'><%= bank_account.id %></p>
                  </div>
                </td>
                <td class='px-4 py-4 text-sm whitespace-nowrap text-center'>
                  <div>
                    <p class='text-blue-600 hover:underline'><%= link_to bank_account.account_number, admin_bank_account_path(bank_account.id) %></p>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
